<% if @task.errors.any? %>
  <div class="error-box">
    <h3>Erros encontrados:</h3>
    <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @task, class: "form-card" do |f| %>
  <div class="field">
    <%= f.label :title, "Título" %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description, "Descrição" %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :due_date, "Prazo" %>
    <%= f.date_field :due_date %>
  </div>

  <div class="field checkbox-field">
    <%= f.label :done, "Concluída?" %>
    <%= f.check_box :done %>
  </div>

  <div class="field">
    <%= f.submit "Salvar tarefa", class: "btn btn-primary" %>
  </div>
<% end %>
