<h2>Criar conta</h2>

<% if @user.errors.any? %>
  <div class="error-box">
    <h3>Erros encontrados:</h3>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @user, url: sign_up_path, class: "form-card" do |f| %>
  <div class="field">
    <%= f.label :name, "Nome" %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :email, "Email" %>
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :password, "Senha" %>
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Confirmar senha" %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="field">
    <%= f.submit "Criar conta", class: "btn btn-primary" %>
  </div>
<% end %>

<%= link_to "Já tem conta? Entrar", login_path, class: "btn btn-link" %>
